name: Run Package Build (v3)

on:
  push:
    branches: [ "test" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 安装打包 Unraid 插件所需的最小化工具集
      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full cpio
          # 下载并安装 Slackware 的 makepkg 脚本模拟版
          sudo wget https://raw.githubusercontent.com/corgan00/makepkg-standalone/master/makepkg -O /usr/local/bin/makepkg
          sudo chmod +x /usr/local/bin/makepkg

      - name: Run build script
        run: |
          # 确保脚本有执行权限
          chmod +x ./source/pkg_build.sh
          # 创建存放打包结果的文件夹，防止脚本里 cd 或写入失败
          mkdir -p archive
          # 进入目录执行
          cd source
          ./pkg_build.sh
